html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background:#0f2a2f;
  color:#eee;
  font-family:"Raleway";

}

html {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image:url('http://lue420.site.nfoservers.com/mario.png');
}

body {
  background:rgba(0,0,0,.1);
}

h1,h2,h3,h4,h5,h6 {
  margin:0; padding:0;
  font-size:100%;
  font-weight:bold;
}

h1 {
  font-size:250%;
}

h2 {
  font-size:150%;
}

h3 {
  font-size:150%;
}

h4 {
  font-size:80%;
}



#header h1 {
  padding:25px 0;
  text-align:center;
  color:#aeff7b;
  font-weight:100;
  text-shadow: 1px 1px 5px rgba(0,0,0,.7);
}

#container {
  width:95%;
  margin:auto;
}

#rules {
  border-top:3px solid #aeff7b;
  padding:10px 0;
  background:rgba(0,0,0,.3);
}

#rules h2, #rules h4 {
  padding:5px 10px
}

.rule {
  width: 33%;
  padding: 15px;
  box-sizing:border-box;
  float:left;
}

.rule h3 {
  color:#aeff7b;
  padding-bottom:10px;
  border-bottom:3px solid #e6656f;
}

.rule p {
  margin:10px 0;
  font-size:115%;
}

#loadingbar {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  font-size:130%;
  box-sizing:border-box;
  padding:10px 25px;
  line-height:32px;
  background:rgba(0,0,0,.5);
  border-top:2px solid #000;
  display:inline-block;
}

@media screen and (min-width: 1600px) {
  html {
    font-size:130%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size:70%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size:50%;
  }
}