<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <script type="text/javascript" src="http://lue420.site.nfoservers.com/rules/zepto.min.js"></script>
    <style>
      html, body {
        width:100%;
        height:100%;
        background:#919498;
        color:#fff;
        margin:0;
        padding:0;
        font-family:"Raleway";
        
      }
      
      .rule {
        background:rgba(0,0,0,.5);
        margin:7px;
        -webkit-border-radius:4px;
        border-radius:4px;
        transition:background .2s ease-out;
        border:1px solid #2c2d2e;
      }
      
      .rule:hover {
        background:rgba(0,0,0,.2);
      }
      
      .rule .title, h1 {
        font-size:20px;
        padding:10px 15px;
        box-sizing:border-box;
        cursor:pointer;
        text-shadow:2px 2px 1px rgba(0,0,0,.6);
        margin:0;

      }
      
      h1 {
        font-size:30px;
      }
      
      .toggled {
        display:none;
        border-top:1px solid #2c2d2e;
        padding:10px;
        margin:0;
      }
      
      .toggled p {
          font-size:20px;
          margin:5px 5px 10px;
        text-indent:10px;
      }
      
      input:checked + .toggled {
        display:block;
      }
    </style>
    <script type="text/javascript">
      try {
          if (!String.prototype.startsWith) {
              String.prototype.startsWith = function(search, pos) {
                  return this.substr(!pos || pos < 0 ? 0 : +pos, search.length) === search;
              };
          }
          var coltmpl = '<div class="rule"><label><h2 class="title">{{rule}}</h2><input type="checkbox" style="display:none;"><div class="toggled">{{desc}}</div></label></div>';
          var rulelist = {};

          function loadStuff() {
              $.ajax({type:'GET',url:'http://lue420.site.nfoservers.com/rules/rules.txt?uncached',dataType:'text',success:loadRules}); 
          }

          function loadRules(data) {
            //console.log("RUNLUA:print(\"what\")")
            data = data.split("\n");
            var finalhtml = '';
            var category = '';

            $.each(data, function(_,line) {
              //console.log(line);
              line = line.replace(/(\r\n|\n|\r)/gm,"");
                if (category == '' && !line.startsWith(':')) {
                  return;
                } else if (line.startsWith(":")) {
                  category = line.slice(1);
                  rulelist[category] = []
                  return;
                }
                if (line) {
                  rulelist[category].push(line);
                }
            });
            var finalhtml = "";
            $.each(rulelist, function(rulename, rulep) {
              var rulepara = '';
              $.each(rulep, function(_, txt) {
                rulepara = rulepara + "<p>" + txt + "</p>\n";
              });
              var retval = coltmpl;
              retval = retval.replace("{{rule}}", rulename);
              retval = retval.replace("{{desc}}", rulepara);
              finalhtml = finalhtml + retval;
            })
            
            $('#rules').html(finalhtml);
          }
          Zepto(function($) {
            // document is ready
            window.sections = {};
            loadStuff();
          });
        } catch(err){
          console.log("RUNLUA:print([["+err+"]])")
        }
        </script>
  </head>
  <body>
    <h1>The Rules</h1>
    <div id="rules"></div>
  </body>
</html>